.tmp.driveupload/
*.tmp
*.log
*.bak
*.zip
*.rar
*.7z
credentials.json 
posts/credentials.json
log.txt
downloaded-posts/
group hunter/
instance-name.txt
spreadsheet.json
spreadsheet-cost.json
spreadsheet-logtosheet.json
spreadsheet-startup.json
posts/post*.json
\chrome-profiles
/chrome-profiles
\מסמכים חשובים
/מסמכים חשובים
\reports
/reports
upload to github.bat
reset git.bat
force-git-push.bat
backup-VM-now.bat
\user data
/user data
