.tmp.driveupload/
*.tmp
*.log
*.bak
*.zip
*.rar
*.7z
credentials.json 
posts/credentials.json
log.txt
downloaded-posts/
postify-clone/
/postify-clone
group hunter/
instance-name.txt
spreadsheet.json
spreadsheet-cost.json
spreadsheet-logtosheet.json
spreadsheet-startup.json
posts/post*.json
chrome-profiles/
/chrome-profiles
מסמכים חשובים/
/מסמכים חשובים
reports/
/reports
upload to github.bat
reset git.bat
force-git-push.bat
backup-VM-now.bat
user data/
/user data
# 🧱 ספריות node – לא לגבות
node_modules/
postify logo.png
backup-VM-now.bat
# 📦 קבצים זמניים / שלא רוצים בגיבוי
package-lock.json
package.json
files.txt
state-post.json
package.json
postify logo.png
package-lock.json
# 🛠 קבצי סקריפטים זמניים
*.bat
*.ps1
enable-autologin.reg
forc
e-git-push.bat
# 📝 תצוגת מערכת
.DS_Store
Thumbs.db
update.bat
push-to-github.bat
reset git.bat
force-git-push.bat
upload to github.bat